.header-text {
    text-align:center;
}

.body-text {
    text-align: center;
}

.forgotPassword-text {
    text-align: center;
    font-size: small;
}

.signUp-text {
    text-align: center;
    font-size: small;
    color: black;
}

.footerText {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.recoverPassword-message {
    text-align: center;
    font-size: medium;
}